* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #cfcbe8;
}

.first {
    width: 100%;
}

nav {
    text-align: right;
    margin-top: 10px;
    margin-right: 15px;
    position: absolute;
    right: 70px;
    top: 10px;

}

nav a {
    color: rgb(0, 46, 249);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    padding-right: 70px;
    padding-left: 5px;
    font-weight: bold;
    /* border: 3px solid rgb(247, 5, 21); */
}

/* nav a:hover {
    text-decoration: 4px rgb(207, 53, 53) underline;
      color: rgb(92, 112, 203);
} */

.second {
    width: 30%;
    /* border: 2px solid red; */
    border-radius: 6px;
    position: absolute;
    left: 5%;
    top: 15%;
    box-shadow: 1px 0px 9px 1px #7167ab;
    /* margin-top: 200px;
    margin-left: 300px; */
}

.second form {
    padding: 5px;

}

.second form input {
    margin: 20px;
}

.second .submit {
    margin-left: 40%;
    font-size: 1rem;
}

.pdf {
    display: inline-block;
    position: absolute;
    left: 42%;
    top: 25%;
}

.pdf h2 {
    text-decoration: underline;
}

.pdf p {
    color: red;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    /* border: 3px solid rgb(221, 45, 5); */
    box-shadow: 1px 0px 9px 2px #7167ab;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.pdf a {
    color: rgb(8, 167, 48);
    text-decoration: none;
}

.pdf p:hover {
    background-color: rgb(219, 229, 226);
}

.pdf p a:hover{
    color: rgb(255, 0, 255);
}
.pdf h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: 21px;
}

.pdf h3 {
    color: rgb(221, 20, 181);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    font-size: x-large;
}

body p {
    display: inline-block;
    text-align: center;
    margin: 50px;
}

.suscribe .btn {
    background-color: red;
    /* color: rgb(16, 174, 242); */
    display: inline-block;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-left: 2px;
    padding: 15px 15px;
    border: none;
    border-radius: 6px;
}

.suscribe {
    background-color: rgb(105, 105, 215);
    border: none;
    border-radius: 3px;

}

.suscribe h4 {
    color: rgb(17, 25, 15);
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}

.suscribe form {
    display: block;
    text-align: center;
}

.suscribe .in {
    width: 250px;
    height: 45px;
    margin-right: 0px;
    border-radius: 5px;
}

.phynotes {
    display: inline-grid;
}

.phynotes h2 {
    text-decoration: underline;
}

.phynotes p {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    border: 3px solid rgb(221, 45, 5);
    padding: 5px;
    margin: 16px;
}

.phynotes a {
    /* color: rgb(8, 167, 48); */
    color: black;
    text-decoration: none;
}

.phynotes p:hover {
    /* color: rgb(11, 11, 11); */
    background-color: rgb(219, 229, 226);
}

#form {
    font-family: cursive;
    font-weight: bold;
    padding-left: 20px;
    font-size: 1rem;
}
#name {
    margin-left: 43px;
    font-size: 1rem;
    width: 50%;
    
}
#class {
    margin-left: 47px;
    font-size: 1rem;
    width: 50%;

}
#phone{
    margin-left: 21px;
    font-size: 1rem;
    width: 50%;

}

#subject {
    margin-left: 27px;
    font-size: 1rem;
    width: 50%;

}

hr{
    margin: 1px;
    width: 90%;
    height: 2px;
    background-color: #e5a1a1;
}
body > h2{
    color:green;
    margin-top: 25px;
    font-size: 40px;
    text-align: center;
    text-decoration: 3px solid red underline;
}
/* .pdf p  a:visited{
    background-color: green;
    color:rgb(255, 106, 0)

} */

.cp-text {
    width: 100%;
    position: absolute;
    top: 100%;
    color: rgba(0,0,0,.7);
    text-shadow: 0 1px rgb(255 255 255 / 10%);
    background: #998eb1;
    margin: 0;
}